/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base */
body {
    font-family: Georgia, serif; /* Modification de la police pour le corps du texte */
    background-color: #f0f4f8; /* gris bleuté */
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #1c2a4e; /* bleu nuit */
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold; /* Ajout du style gras */
}

.slogan {
    font-family: 'Playfair Display', serif; /* Modification de la police pour le slogan */
    font-size: 1.2rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Georgia, serif; /* Modification de la police pour le menu */
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #c7dceb; /* gris bleu clair */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #5c87db; /* bleu */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1c2a4e; /* bleu nuit */
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.error {
    color: red;
    margin-top: 5px;
}

footer {
    background-color: #1c2a4e; /* bleu nuit */
    color: #fff;
    text-align: center;
    padding: 20px;
}

.quote {
    font-style: italic;
    font-size: 1.2rem;
}
